body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgb(136, 48, 132), rgb(48, 120, 161));
}

html, body {
    min-height: 100%;
}

.img-fluid {
    /* box-shadow: 10px 10px 8px #499c5e; */
    size: 360px, 300px;
    max-width: 300px;
    max-height: 360px;
    margin: 0 auto;
}

.mainContainer {
    color: white;
}

.container {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

/* Contact page contact info column */
.col-md-6 {
    height: 70%;
    width: 50%;
    margin: 0 auto;
    padding: 3%;
    justify-content: center;
    margin-top: 10%;
}

#portfoliocontainer {
    align-content: center;
}

.description {
    margin-left: 40px;
}

/* P tag indentation*/
.tab { 
    margin-left: 40px;
    text-indent:40px;    
}

.button {
    align-items: center;
    align-content: center;
    margin-left: 20%;
    color: white;
}

/* #starKey {
    background-color: #f8f9fa;
    color: black;
} */


.card-body {
    color:  #6c757d!important;
}

#grey {
    color: gray;
}